<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <main class="flex flex-row gap-x-25 p-14">
      <div class="flex flex-col gap-y-5 text-2xl">
        <% if (room == null) { %>
        <button type="button" class="btn secondary" onclick="create();">
          Online room
        </button>
        <% } else { %>
        <button
          type="button"
          class="btn secondary"
          onclick="remove('<%= room.code %>'); location.href = '/create';">
          Local room
        </button>
        <% } %>
        <hr />
        <button type="button" class="btn secondary">Single elimination</button>
        <button type="button" class="btn third">Double elimination</button>
        <hr />
        <button type="button" class="btn secondary">1v1</button>
        <button type="button" class="btn third">1v1v1v1</button>
        <button type="button" class="btn third">2v2</button>
        <button type="button" class="btn third">Random</button>
        <hr />
        <button
          type="button"
          class="btn primary"
          onclick="start('<%= room == null ? null : room.code %>');">
          Start
        </button>
        <button
          type="button"
          class="btn danger w-full"
          onclick="remove('<%= room == null ? null : room.code %>'); location.href = '/';">
          Quit
        </button>
      </div>
      <div class="flex flex-col gap-y-5">
        <% if (room == null) { %>
        <input
          type="text"
          class="bg-second rounded-sm py-1 text-center text-2xl focus:outline-hidden"
          value="My room 1"
          name="roomName" />
        <% } else { %>
        <input
          type="text"
          class="bg-second rounded-sm py-1 text-center text-2xl focus:outline-hidden"
          value="<%= room.name %>"
          name="roomName"
          disabled />
        <% } %>
        <hr />
        <% if (room != null && room.users !== undefined) { %> <% for (user of
        room.users) { %>
        <div
          class="bg-third mx-10 flex items-center rounded-sm text-center text-2xl">
          <div class="flex-1"><%= user.name %></div>
          <hr class="vertical" />
          <button
            type="button"
            class="no-hover p-2 font-bold text-red-500"
            onclick="kick('<%= user.name %>', '<%= room.code %>')">
            X
          </button>
        </div>
        <% }} %>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="bg-second w-full py-2 text-center text-3xl">Images</div>
        <div
          class="flex flex-1 flex-col items-center justify-center bg-black/10 text-center text-3xl">
          <label
            for="folder"
            class="btn primary m-5 p-4 hover:cursor-pointer hover:outline-3 hover:outline-black/20"
            >Choose a folder</label
          >
          <div
            class="grid w-full grid-cols-8 gap-x-5 gap-y-3"
            id="images"></div>
        </div>
      </div>
    </main>

    <input
      id="folder"
      type="file"
      webkitdirectory
      directory
      multiple
      class="hidden"
      onchange="updateText('<%= room == null ? null : room.code %>');" />
    <%- include('partials/footer.ejs') %>
  </body>
</html>
