<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header.ejs') %>
    <main
      class="flex flex-col items-center justify-center gap-15 gap-y-6 p-14 font-medium sm:flex-row">
      <% if (room.users.find((user) => user.id == id)) { %> <% if (room.status
      == "voting") { %>

      <button
        type="button"
        class="btn primary h-full w-full"
        onclick="vote('<%= room.code %>')">
        1
      </button>
      <button
        type="button"
        class="btn primary h-full w-full"
        onclick="vote('<%= room.code %>')">
        2
      </button>

      <% } else if (room.status == "finished") { %>
      <h1>Contemplate your winner!</h1>
      <% } else { %>
      <h1>Get ready!</h1>
      <%} %> <% } else { %>

      <h1>You are not in the room!</h1>
      <%} %>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
